<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl as mainCtrl">
	<h1>Hello, controllers!</h1>
	<button ng-click="mainCtrl.open('first')">Open first tab</button >
	<button ng-click="mainCtrl.open('second')">Open secound tab</button>
	
	<div class="container" ng-switch on="mainCtrl.tab">
		<div class="tab first" ng-switch-when="first">
			<div ng-controller="SubCtrl as subCtrl">
				<h2>First tab</h2>
				<ul ng-repeat="item in subCtrl.list()">
					<li ng-bind="item.label"></li>
				</ul>
				<button ng-click="subCtrl.addToList()">
					Add more items
				</button>
			</div>
		</div>
		<div class="tab secound" ng-switch-when="second">
			<div ng-controller="SubCtrl as subCtrl">
				<h2>Secound tab</h2>
				<ul ng-repeat="item in subCtrl.list() | limitTo:subCtrl.limit()">
					<li ng-bind="item.label" ></li>
				</ul>
				<button ng-click="subCtrl.addToList()">
					Add more items
				</button>
			</div>
		</div>
	</div>

</body>
</html>