<!-- Plik: r10/routing-example/app/views/login.html -->
<div class="login-container"
     ng-controller="LoginCtrl as loginCtrl">
  <div class="alert alert-danger"
       ng-bind="loginCtrl.errorMessage"
       ng-show="loginCtrl.errorMessage"></div>
  <div class="card login-card">
    <div class="login-form">
      <form name="loginForm"
            ng-submit="loginCtrl.login()"
            class="form-horizontal"
            role="form">
          <div class="form-group">
              <label for="email">Nazwa użytkownika</label>
              <input type="text"
                     ng-model="loginCtrl.user.username"
                     class="form-control"
                     id="email"
                     placeholder="Wpisz nazwę użytkownika"
                     required="">
          </div>
          <div class="form-group">
              <label for="password">Hasło</label>
              <input type="password"
                     ng-model="loginCtrl.user.password"
                     class="form-control"
                     id="password"
                     placeholder="Wpisz hasło"
                     required="">
          </div>
          <input type="submit"
                 class="btn btn-success btn-lg"
                 value="Zaloguj się"
                 ng-disabled="loginForm.$invalid">
      </form>
    </div>
  </div>
</div>


<!-- 
<div class="login-container"
     ng-controller="LoginCtrl as loginCtrl"
>
  <h1>Simple example:</h1>

  <div class="alert alert-danger"
       ng-bind="loginCtrl.errorMessage"
       ng-show="loginCtrl.errorMessage"></div>

  <div class="login-form">
    <form name="loginForm"
          ng-submit="loginCtrl.login()">
    
      <input type="text"
             ng-model="loginCtrl.user.username"
             placeholder="Login"
             required="">
      <input type="password"
             ng-model="loginCtrl.user.password"
             placeholder="Password"
             required="">
      <input type="submit"
             value="Log in"
             ng-disabled="loginForm.$invalid">    
    </form>
  </div>
</div>
-->

