<html>
<head>
  <meta charset="utf-8">
  <title>Switch app</title>
</head>
<body ng-app="switchApp">

  <div ng-controller="MainCtrl as mainCtrl">
    <h3>Tabs example ( ng-switch )</h3>
    <button ng-click="mainCtrl.currentTab = 'tab1'">
      Karta 1
    </button>
    <button ng-click="mainCtrl.currentTab = 'tab2'">
      Karta 2
    </button>
    <button ng-click="mainCtrl.currentTab = 'tab3'">
      Karta 3
    </button>
    <button ng-click="mainCtrl.currentTab = 'something'">
      Domyślna karta
    </button>

    <div ng-switch="mainCtrl.currentTab">
      <div ng-switch-when="tab1">Tab1 content</div>
      <div ng-switch-when="tab2">Tab2 content</div>
      <div ng-switch-when="tab3">Tab3 content</div>
      <div ng-switch-default>Tab with default content</div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
  <script type="text/javascript">
    angular.module('switchApp', [])
      .controller('MainCtrl', [function(){
        var self = this;
        self.mainCtrl = 'tab1';
      }]);
  </script>
</body>
</html>
